﻿@using FoodService.Models;

@model OrderViewModel

<div class="contentHead">xbasket</div>
<div class="contentBody">
    <table width="600">
        <tr>
            <td>
                <strong>TotalPrice:</strong> @Model.Basket.TotalPrice ft
            </td>
        </tr>
        <tr>
            <td>
                <strong>Foods in the basket:</strong> @Model.Basket.OrderedFoods.Count()
            </td>
        </tr>
    </table>

    <form asp-controller="Order" asp-action="Index" asp-route-basketId="@Model.Basket.Id">

        <table>
            <tr>
                <td colspan="2" valign="middle">
                    <div asp-validation-summary="ModelOnly" class="failureNotification"></div>

                    <div class="contentHead">
                        Personal data:
                    </div>
                </td>
            </tr>
            <tr>
                <td width="120">
                    Name:
                </td>
                <td class="failureNotification">
                    <input asp-for="CustomerName" size="40" />
                    <span asp-validation-for="CustomerName"></span>
                </td>
            </tr>
            <tr>
                <td>
                    Billing address:
                </td>
                <td class="failureNotification">
                    <input asp-for="CustomerAddress" size="40" />
                    <span asp-validation-for="CustomerAddress"></span>
                </td>
            </tr>
            <tr>
                <td>
                    E-mail:
                </td>
                <td class="failureNotification">
                    <input asp-for="CustomerEmail" size="40" />
                    <span asp-validation-for="CustomerEmail"></span>
                </td>
            </tr>
            <tr>
                <td>
                    Phone number:
                </td>
                <td class="failureNotification">
                    <input asp-for="CustomerPhoneNumber" size="40" />
                    <span asp-validation-for="CustomerPhoneNumber"></span>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="right">
                    <input type="submit" value="Order" class="button" />
                </td>
            </tr>
        </table>
    </form>
</div>

@section Scripts
{
    @{ Html.RenderPartial("_ValidationScriptsPartial"); }
}