﻿body {
    font-family: Arial, sans-serif;
    font-size: 10pt;
    color: #000000;
    background-color: #ffffff;
    text-align: center;
    margin: 0pt;
    padding: 0pt;
    text-decoration: none;
}

div.header {
    color: #ffffff;
    text-align: left;
    background-color: #333399;
    border-bottom: 1pt solid #000000;
    height: 50pt;
    width: 100%;
    padding: 0pt;
    margin: 0pt;
}

div.basketPlace {
    position: absolute;
    top: 10px;
    right: 10px;
}

div.headerAdmin {
    font-weight: bold;
    position: relative;
    float: right;
    padding: 5pt;
}

div.headerAdmin td {
    padding: 2pt 5pt 2pt 5pt;
}

div.headerAdmin a {
    color: #ccccff;
    text-decoration: underline;
}

div.headerAdmin a:hover {
    color: #ffffff;
    text-decoration: underline;
}

div.headerText {
    float: left;
}

div.headerText h1 {
    font-size: x-large;
    padding: 8pt 0pt 2pt 8pt;
    margin: 0em;
}

div.headerText h3 {
    font-size: small;
    text-decoration: none;
    padding: 0pt;
    padding-left: 8pt;
    margin: 0em;
}

div.content {
    padding-top: 1em;
}

div.contentText {
    font-size: 12pt;
    font-weight: bold;
    line-height: 14pt;
    vertical-align: top;
}

div.content h3 {
    font-size: medium;
    text-decoration: none;
    padding: 5pt 0pt 5pt 0pt;
    margin: 0em;
}

div.leftColumn {
    position: relative;
    text-align: left;
    float: left;
    width: 160pt;
    padding: 5pt;
    height: 100%;
}

div.leftColumn h3 {
    text-align: left;
    font-size: medium;
    color: #ffffff;
    border: 1pt solid #000000;
    border-bottom: none;
    background-color: #333399;
    padding: 5pt;
}

div.leftColumn ul {
    background-color: #ccccff;
    border: 1pt solid #000000;
    padding: 0pt;
    margin: 0pt;
    list-style: none;
}

div.leftColumn ul li {
    font-weight: bold;
    border: 1pt solid #333399;
    border-left: 10pt solid #333399;
    border-right: 5pt solid #333399;
    padding: 2pt 5pt 2pt 5pt;
    margin: 0pt;
}

div.leftColumn ul li:hover {
    font-weight: bold;
    background-color: #ffffff;
    border: 1pt solid #000000;
    border-left: 10pt solid #000000;
    border-right: 5pt solid #000000;
    padding: 2pt 5pt 2pt 5pt;
    margin: 0pt;
}

div.leftColumn ul li a {
    text-decoration: none;
    color: #000000;
}


div.rightColumn {
    position: absolute;
    margin-left: 180pt;
    text-align: left;
    padding-bottom: 20pt;
}

tr.foodItem {
    vertical-align: top;
}

div.foodItemHead {
    font-size: 12pt;
    font-weight: bold;
    line-height: 14pt;
    vertical-align: top;
    text-decoration: underline;
    padding-bottom: 5pt;
}

div.foodItemHead a {
    font-weight: bold;
    text-decoration: underline;
    color: #000000;
}

div.foodItemHead a:hover {
    font-weight: bold;
    text-decoration: underline;
    color: #333399;
}

div.buildingItemContent {
    font-size: 10pt;
}

div.contentHead {
    font-size: 12pt;
    font-weight: bold;
    line-height: 14pt;
    vertical-align: top;
    text-decoration: none;
    padding-bottom: 5pt;
    padding-top: 10pt;
}

div.contentBody {
    font-size: 10pt;
    margin-bottom: 1em;
}

div.contentComment {
    text-align: left;
    border-top: 2pt solid #333399;
    padding-top: 4pt;
    margin-top: 10pt;
}

div.contentComment a {
    text-decoration: none;
}

div.contentPrice {
    text-align: right;
}

img.contentImage {
    border: 1pt solid #000000;
    margin: 5pt;
    width: 130px;
    height: 100px;
}


a.contentLink {
    font-weight: bold;
    text-decoration: underline;
    color: #000000;
}

    a.contentLink:hover {
        font-weight: bold;
        text-decoration: underline;
        color: #333399;
    }

input.button {
    border: 1pt solid #000000;
    background-color: #333399;
    padding: 2pt 4pt 2pt 4pt;
    color: #ffffff;
    font-weight: bold;
}

div.welcomeMessage {
    text-align: right;
    padding: 5pt 5pt 15pt 5pt;
}

fieldset {
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

    fieldset p {
        margin: 2px 12px 10px 10px;
    }

    fieldset.login label, fieldset.register label, fieldset.changePassword label {
        display: block;
    }

    fieldset label.inline {
        display: inline;
    }

legend {
    font-weight: bold;
    padding: 2px 4px 8px 4px;
}

input.textEntry {
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry {
    width: 320px;
    border: 1px solid #ccc;
}

.failureNotification {
    align-content: center;
    font-size: 100%;
    font-weight: bold;
    line-height: 14pt;
    color: Red;
    line-height: 14pt;
    vertical-align: top;
    text-decoration: none;
    padding-bottom: 5pt;
    padding-top: 10pt;
}
