﻿@using System
@using FoodService.Models
@using Microsoft.AspNetCore.Http;

@model Food

@{
    Func<Boolean, String> boolConverter = isThat =>
    {
        switch (isThat)
        {
            case true: return "for sure";
            case false: return "it's not";
            default: return "?";
        };
    };
}

@if (Model == null)
{
    <div class="contentText">There is no food yet.</div>
}
else
{
    <div class="contentHead">@Model.Name</div>
    <div class="contentBody">
        <table width="600">
            <tr>
                <td>
                    <strong>Category: </strong> @Model.Category.Name
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Price: </strong> @Model.Price ft
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Spicy: </strong> @boolConverter(Model.Spicy)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Vegetarian: </strong> @boolConverter(Model.Vegetarian)
                </td>
            </tr>
            <tr>
                <td>
                    <div class="contentComment">
                        <strong>Description: </strong> @Model.Description
                    </div>
                </td>
            </tr>
            @if (Context.Session.GetString("user") != null)
            {
                <tr>
                    <td>
                            <a asp-controller="Basket" asp-action="Add" asp-route-foodId="@Model.Id" class="contentLink"><strong>Add to Basket</strong></a>
                    </td>
                </tr>
            }
            @if (ViewBag.Images != null && ViewBag.Images.Count > 0)
            {
                <tr>
                    <td>
                        <div class="contentComment">
                            <strong>Images:</strong><br />
                            @foreach (Int32 id in ViewBag.Images)
                            {
                                <a asp-action="Image" asp-route-imageId="@id" asp-route-large="true" target="_blank">
                                    <img src="@Url.Action("Image", new { imageId = id })" class="contentImage" />
                                </a>
                            }
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
}