﻿@using System.Collections.Generic
@using FoodService.Models

@model IList<Food>

@{
    Func<Boolean, String> boolConverter = isThat =>
    {
        switch (isThat)
        {
            case true: return "for sure";
            case false: return "it's not";
            default: return "?";
        };
    };
}

@if (Model == null || !Model.Any())
{
    <div class="contentText">There are no such foods in this category yet.</div>
}
else
{
    <form asp-controller="Home" asp-action="FoodSearching" asp-route-categoryId=@ViewBag.WhichSearch>
        <p>
            Name: <input type="text" name="SearchString">
            <input type="submit" value="Search" />
        </p>
    </form>

    <table>
        @for (Int32 i = 0; i < (Model.Count + 1) / 2; i++)
        {
            <tr>
                @for (Int32 j = i * 2; j < i * 2 + 2 && j < Model.Count; j++)
                {
                    <td>
                        <table border="0" width="300">
                            <tr class="foodItem">
                                <td>
                                    <img src="@Url.Action("ImageForFood", new {foodId = Model[j].Id})" class="contentImage" />
                                </td>
                                <td>
                                    <div class="foodItemHead">
                                        <a asp-action="Details" asp-route-foodId="@Model[j].Id">@Model[j].Name</a>
                                    </div>
                                    <div class="foodItemContent">
                                        <strong>Category: </strong>@Model[j].Category.Name<br />
                                        <strong>Price: </strong>@Model[j].Price ft<br />
                                        <strong>Spicy: </strong>@boolConverter(Model[j].Spicy)<br />
                                        <strong>Vegetarian: </strong>@boolConverter(Model[j].Vegetarian)
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                }
            </tr>
        }
    </table>
}