﻿@using FoodService.Models;

@model RegistrationViewModel

<form asp-controller="Account" asp-action="Register">

    <table>
        <tr>
            <td colspan="3">
                <div class="failureNotification">@Html.ValidationSummary(true, "Registration was not successful!")</div>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <div class="contentHead">
                    Personal data:
                </div>
            </td>
        </tr>
        <tr>
            <td width="120">
                Name:
            </td>
            <td class="failureNotification" colspan="2">
                <input asp-for="CustomerName" size="40" />
                <span asp-validation-for="CustomerName"></span>
            </td>

        </tr>
        <tr>
            <td width="120">
                Billing address:
            </td>
            <td class="failureNotification" colspan="2">
                <input asp-for="CustomerAddress" size="40" />
                <span asp-validation-for="CustomerAddress"></span>
            </td>
        </tr>
        <tr>
            <td width="120">
                E-mail:
            </td>
            <td class="failureNotification" colspan="2">
                <input asp-for="CustomerEmail" size="40" />
                <span asp-validation-for="CustomerEmail"></span>
            </td>

        </tr>
        <tr>
            <td width="120">
                Phone Number:
            </td>
            <td class="failureNotification" colspan="2">
                <input asp-for="CustomerPhoneNumber" size="40" />
                <span asp-validation-for="CustomerPhoneNumber"></span>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <div class="contentHead">
                    Login data:
                </div>
            </td>
        </tr>
        <tr>
            <td width="150" colspan="2">
                Username:
            </td>
            <td class="failureNotification">
                <input asp-for="UserName" />
                <span asp-validation-for="UserName"></span>
            </td>
        </tr>
        <tr>
            <td width="150" colspan="2">
                Password:
            </td>
            <td class="failureNotification">
                <input asp-for="UserPassword" />
                <span asp-validation-for="UserPassword"></span>
            </td>
        </tr>
        <tr>
            <td width="150" colspan="2">
                Password again:
            </td>
            <td class="failureNotification">
                <input asp-for="UserConfirmPassword" />
                <span asp-validation-for="UserConfirmPassword"></span>
            </td>
        </tr>
        <tr>
            <td colspan="3" height="70">
                <br />Password's length can be between 5 and 40 chars. May contain alphabets, numbers, and dashes.<br /><br />
                <input type="submit" value="Registration" class="button" />
            </td>
        </tr>
    </table>
</form>

@section Scripts
    {
    @{ Html.RenderPartial("_ValidationScriptsPartial"); }
}
