﻿@using System.Collections.Generic
@using FoodService.Models

@model FoodService.Models.Basket

@{
    Func<Boolean, String> boolConverter = isThat =>
    {
        switch (isThat)
        {
            case true: return "for sure";
            case false: return "it's not";
            default: return "?";
        };
    };
}

<div>
    <h2>Pocket:</h2>
    <a asp-action="EmptyBasket" class="contentLink">Empty Basket</a>
    <h3>Summa: @Model.TotalPrice</h3>
    <div>
        <h3>Number of Foods in your Basket @Model.OrderedFoods.Count()</h3>

        <table border="0" width="300">
            @foreach (var item in Model.OrderedFoods)
            {
                <tr class="foodItem">
                    <td>
                        <img src="@Url.Action("ImageForFood", new {foodId = @item.Id})" class="contentImage" />
                    </td>
                    <td>
                        <div class="foodItemHead">
                            <a asp-controller="Home" asp-action="Details" asp-route-foodId="@item.Id">@item.Name</a>
                        </div>
                        <div class="foodItemContent">
                            <strong>Category: </strong>@item.Category.Name<br />
                            <strong>Price: </strong>@item.Price<br />
                            <strong>Spicy: </strong>@boolConverter(item.Spicy)<br />
                            <strong>Vegetarian: </strong>@boolConverter(item.Vegetarian)<br />
                        </div>
                        <a asp-action="Remove" asp-route-foodId="@item.Id" class="contentLink" font-size="30pt"><strong>Remove Food</strong></a>
                    </td>
                </tr>
            }
        </table>
    </div>
    <br />
    <a asp-controller="Order" asp-action="Index" asp-route-basketId="@Model.Id" class="contentLink">Go to Order</a>
</div>
